<div class="header transparentHeader">
  <div id="headerLinksMenuButton" class="headerLinksMenuButton"></div>
  <a id="homeLink" class="homeLink" href="/"><img title="TiaraCE" alt="TiaraCE Logo" class="headerLogo" src="images/headerLogo.png"></a>
  <div id="headerLinks" class="headerLinks">
    <a id="clientsLink" href="#placeholder">
      <img class="headerLinkIcon" src="/images/placeholder.png" title="Placeholder" alt="Placeholder Button">
      Placeholder
    </a>
    <a href="#placeholder">
      <img class="headerLinkIcon" src="/images/placeholder.png" title="Placeholder" alt="Placeholder Button">
      Placeholder
    </a>
    <a href="#placeholder">
      <img class="headerLinkIcon" src="/images/placeholder.png" title="Placeholder" alt="Placeholder Button">
      Placeholder
    </a>
    <a href="#placeholder">
      <img class="headerLinkIcon" src="/images/placeholder.png" title="Placeholder" alt="Placeholder Button">
      Placeholder
    </a>
    <a href="#placeholder">
      <img class="headerLinkIcon" src="/images/placeholder.png" title="Placeholder" alt="Placeholder Button">
      Placeholder
    </a>
    <a href="#placeholder">
      <img class="headerLinkIcon" src="/images/placeholder.png" title="Placeholder" alt="Placeholder Button">
      Placeholder
    </a>
  </div>
</div>
